<hr class="header-divider">
<section class="Material-contact-section contact">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="contact-title">Get in Contact</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-6 mt-3 contact-info">
			  	<p>If you would like to enlist our services or have questions, please get in touch. </p>
				<p>We are more than happy to have a free consultation to see if we can provide what your company needs.</p>
			  	<div>
			   		Email: <a href="#">info@eightpawstech.com</a>
			  	</div>
			  	<div>
					Phone:  <a href="#">+31 6 454 82525</a>
			  	</div>
			</div>
			<div class="col-6 contact-form-section">
				<form role="form" method="POST" id="contactForm" name="contact-form" data-toggle="validator"  enctype="multipart/form-data" action="https://formcarry.com/s/kP4A-2ueN7">
					<div class="form-group">
					  	<label class="control-label" for="name">Name</label>
					  	<input class="form-control ClearOnStartup" id="name" type="text" name="name" required data-error="Please enter your name">
					</div>
					<div class="form-group">
					  	<label class="control-label" for="email">Email</label>
					  	<input class="form-control ClearOnStartup" id="email" type="email" name="email" required data-error="Please enter your Email">
					</div>
					<div class="form-group">
					  	<label class="control-label">Subject</label>
					  	<input class="form-control ClearOnStartup" id="msg_subject" type="text" name="subject" required data-error="Please enter your message subject">
					</div>
					<div class="form-group">
						<label for="message" class="control-label">Message</label>
						<textarea class="form-control ClearOnStartup" rows="3" id="message" name="message" required data-error="Write your message"></textarea>
					</div>
					<div class="form-submit mt-5">
						<button class="btn btn-common" onclick="reload()" type="submit" id="form-submit"><i class="material-icons mdi mdi-message-outline"></i> Send Message</button>
						<div id="msgSubmit" class="h3 text-center hidden"></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>