<footer>
    <div class="container">
        <p>
            <a href="#home">Home</a>
        </p>
        <p class="footer-menu-divider">&sdot;</p>
        <p>
            <a href="#about">About</a>
        </p>
        <p class="footer-menu-divider">&sdot;</p>
        <p>
            <a href="#services">Services</a>
        </p>
        <p class="footer-menu-divider">&sdot;</p>
        <p>
            <a href="#contact">Contact</a>
        </p>
    </div>
    <div class="container">
        <p class="copyright text-muted small">{{ site.copyright }}</p>
    </div>
</footer>