<hr class="header-divider">
<section id="home">
	<div class="header-main">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="header-message">
                        <h1>
                            We take care of tech
                            </br>
                            You take care of business
                        </h1>
                    </div>
                </div>
                <div class="col-6">
                    <img class="header-image" src="../assets/images/laptop-and-plant-square.jpg" alt="MacBook Pro Laptop and Plant">
                </div>
            </div>
        </div>
	</div>
</section>