<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <a class="navbar-brand page-scroll" href="#home">{{ site.title }}</a>
        </div>
        <div class="navbar-right">
            <ul class="nav justify-content-end">  
            	<li>
                    <a class="nav-link page-scroll" href="#about">About</a>
                </li>            
                <li>
                    <a class="nav-link page-scroll" href="#services">Services</a>
                </li>
                <li>
                    <a class="nav-link page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

