<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll nav-padding col-4">
        </div>
        <div class="navbar-header navbar-title page-scroll col-4">
            <a class="navbar-brand page-scroll" href="/">{{ site.title }}</a>
        </div>
        <div class="navbar-header col-4">
            <ul class="nav justify-content-end">  
                <li>
                    <a class="nav-link page-scroll" href="/contact">Get a free consultation</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
